<!DOCTYPE html>
<html>
<head>
  <title>Spreeexample</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

<script type='text/javascript'>
  (function(d) {
    var scriptTrack = document.createElement('script');
    scriptTrack.src = 'https://assets-dev.monetrack.com/scripts/track.js';
    scriptTrack.async = true;
    document.getElementsByTagName('head')[0].appendChild(scriptTrack);
  })(document);
</script>
</body>
</html>
